# 文件夹
/.vscode
__pycache__/
/Words2Anki/Data

# 文件名
Test.*

# 文件类型
## 特殊
*.lnk
*.privacy.*
*.backup.*
## 文档
*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.xls
*.xlsx
*.html
*.txt
## 压缩包
*.zip
*.rar
*.7z
## 电子书
*.mobi
*.epub
## 应用
*.exe
*.dll
## 数据
*.db
*.log
## 设置
*.ini